*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #f8f8f8;
  color: #29292e;

  
}

body, input, textarea, button{
  font:400 16px 'Roboto', sans-serif;
}

#home-aside{
  display: flex;
  align-items: stretch;
  height: 100vh;

  
}

#aside-component {
  flex: 7;

  background: #835afd;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 102px 80px ;

}

#img-aside{
  margin-left: 15%;
  max-width: 500px;
}

#main-component{
  flex: 8;

  padding: 0 32px;

  display: flex;
  align-items: top;
  justify-content: center;
  margin-top: 5%;
}

strong{
  font: 700 36px 'Popins', sans-serif;
  line-height: 42px;
  margin-top: 16px;
}